@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Open Sans", sans-serif;
}

:root{
  --purple-light: #9e97f3;
  --purple: #6358e7;
  --purple-dark: #3b32b6;
  --modal: #161718;
  --placeholder: rgb(255, 255, 255);
}
